{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Edge >= 14", "Safari >= 10"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
